@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --primary-glow: conic-gradient(
    from 180deg at 50% 50%,
    #16abff33 0deg,
    #0885ff33 55deg,
    #54d6ff33 120deg,
    #0071ff33 160deg,
    transparent 360deg
  );
  --secondary-glow: radial-gradient(
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0)
  );

  --tile-start-rgb: 239, 245, 249;
  --tile-end-rgb: 228, 232, 233;
  --tile-border: conic-gradient(
    #00000080,
    #00000040,
    #00000030,
    #00000020,
    #00000010,
    #00000010,
    #00000080
  );

  --callout-rgb: 238, 240, 241;
  --callout-border-rgb: 172, 175, 176;
  --card-rgb: 180, 185, 188;
  --card-border-rgb: 131, 134, 135;
  --primary: rgb(51, 119, 245);
  --secondary: cornflowerblue;
}


*{
  scrollbar-width: thin;
  scrollbar-color: var(--secondary) var(--primary);
}

*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: var(--primary);
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--secondary);
  border-radius: 14px;
  border: 3px solid var(--primary);
}

.container{
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 1rem;
  padding-left: 1rem;
}

.fadeOut{
  opacity:0;
  width:0;
  height:0;
  transition: opacity 0.0s;
}

.fadeIn{
  opacity:1;
  transition: opacity 0.1s 0.1s;

}

@media (min-width: 768px) and (max-width: 991px) { /* Target medium screens */
  .animate-to-bottom-right {
    animation: move-to-bottom-right 0.5s ease-in-out;
    position: absolute;
    bottom: 20px;
    right: 20px;
  }

  @keyframes move-to-bottom-right {
    from {
      /* Current position */
    }
    to {
      bottom: 20px;
      right: 20px;
    }
  }
}

@media (min-width: 992px) { /* Target large screens */
  .animate-to-bottom-right {
    animation: move-to-bottom-right 0.5s ease-in-out;
    position: absolute;
    bottom: 20px;
    right: 20px;
  }

  @keyframes move-to-bottom-right {
    from {
      /* Current position */
    }
    to {
      bottom: 20px;
      right: 20px;
    }
  }
}